
.main {
	max-width: 500px;
	color: rgb(85, 85, 85);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
}

.title {
	font-size: 40px;
}

.form {
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.boxSize {
	height: 30px;
	border: none;
  border-radius: 3px;
  font-size: 14px;
}

.textArea {
  background-color: rgb(222, 222, 222);
	color:  rgb(85, 85, 85);
	font-style: italic;
	text-align: center;
}

.btn {
	background-color: #32dac4;
	color: white;
	font-weight: 600;
}

.clue {
	font-family: Arial, Helvetica, sans-serif;
	border: solid 3px rgb(222, 222, 222);
	padding-left: 10px;
}

.capital {
	text-transform: capitalize;
}
